@import "@/styles/mixins";

.root {
}

.quote {
  width: 336px;
  max-width: calc(100% - 2 * var(--space-xl));
  padding: var(--space-xl);
  border-radius: var(--space-xl);
  background: transparent;
  position: relative;
  overflow: hidden;
  @include trim-disable;
}

.quoteText {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: normal;
  white-space: pre-wrap;
  @include trim-disable;
}

.lines {
  position: absolute;
  inset: var(--space-xl) 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 20px;
  line-height: normal;
  pointer-events: none;
}

.line {
  height: 1lh;
  position: relative;
  flex: none;
}

.lineOver,
.lineUnder {
  position: absolute;
  left: 0;
  right: 0;
}

.lineOver {
  top: var(--lead, 0px);
  height: var(--over);
  background: var(--color-secondary-purple-fill);
}

.lineUnder {
  bottom: var(--lead, 0px);
  height: var(--under);
  background: var(--color-secondary-pink-fill);
}

.lineOver::after,
.lineUnder::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
}

.lineOver::after {
  bottom: 0;
  border-bottom: 1px dashed var(--color-secondary-purple);
}

.lineUnder::before {
  top: 0;
  border-top: 1px dashed var(--color-secondary-pink);
}
