@import "@/styles/responsives";

.menu {
  display: flex;
  flex-direction: column;
  padding-top: var(--menu-gap, var(--space-3xl));
}

.main {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.prompt {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  color: var(--color-foreground);
}

.promptMuted {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  color: var(--color-secondary);
}

.path {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-m);
}

.theme {
  display: flex;
  margin-top: var(--space-3xl);

  @include l {
    display: none;
  }
}

.link {
  color: var(--color-foreground);
}
