@import "@/styles/mixins";

.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-ui-label-gap);
  width: 100%;

  &:has(:disabled) {
    opacity: 0.5;
  }
}

.label {
  color: var(--color-secondary);
}

.field {
  width: 100%;
  height: var(--space-ui-element-height-sm);
  min-height: var(--space-ui-element-height-sm);
  padding: 0 var(--space-ui-element-padding-inline-text);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-s);
  background: var(--color-background);
  outline: none;
  transition: border-color 0.2s ease;
  @include trim-disable;
  line-height: calc(var(--space-ui-element-height-sm) - 2px);

  &::placeholder {
    color: var(--color-secondary);
  }

  &:focus:not(:focus-visible),
  &:focus-visible {
    outline: var(--space-2xs) solid var(--color-hover-light);
    outline-offset: 0;
    border-color: var(--color-secondary);
  }

  &:disabled {
    opacity: 1;
    color: var(--color-foreground);
    -webkit-text-fill-color: var(--color-foreground);
  }

  &.sizeM {
    height: var(--space-ui-element-height-md);
    min-height: var(--space-ui-element-height-md);
    padding: 0 var(--space-m);
    line-height: calc(var(--space-ui-element-height-md) - 2px);
  }

  &:read-only:not(:disabled) {
    border-color: transparent;
    background: var(--color-background-muted);
    color: var(--color-secondary);

    &:focus,
    &:focus-visible {
      border-color: transparent;
    }
  }
}
