@font-face {
  font-family: "KTF Techne";
  src: url("/fonts/KTFTechne-Regular.eot");
  src:
    url("/fonts/KTFTechne-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/KTFTechne-Regular.woff2") format("woff2"),
    url("/fonts/KTFTechne-Regular.woff") format("woff"),
    url("/fonts/KTFTechne-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "ss03" 1, "ss05" 1;
}

@font-face {
  font-family: "Univers Next Typewriter Pro";
  src: url("/fonts/Univers-Next-Typewriter-Pro-Regular.eot");
  src:
    url("/fonts/Univers-Next-Typewriter-Pro-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Univers-Next-Typewriter-Pro-Regular.woff2") format("woff2"),
    url("/fonts/Univers-Next-Typewriter-Pro-Regular.woff") format("woff"),
    url("/fonts/Univers-Next-Typewriter-Pro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "liga" 0;
}
