@import "@/styles/mixins";

.bodySm {
  font-family: var(--font-ui);
  font-feature-settings: var(--font-ui-features);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: 0;
  @include trim;
}

.monoSm {
  font-family: var(--font-mono);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: 0;
  @include trim;
}

.monoXs {
  font-family: var(--font-mono);
  font-size: 11px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: 0;
  @include trim;
}
