.root {
  position: relative;
  width: 100%;
  background: var(--color-foreground);
  color: var(--color-background);
  border-radius: var(--radius-m);
  padding: var(--space-l);
}

.code {
  margin: 0;
  color: var(--color-background);
  white-space: pre-wrap;
}

.copy {
  position: absolute;
  top: 12px;
  right: 12px;

  &:disabled {
    opacity: 1;
  }
}
